---
export async function getStaticPaths() {
  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ZXNteHl3ZW1pY2x3ZnVsdXVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2ODMwMTQsImV4cCI6MjA5MjI1OTAxNH0.eVspxrT5Laql5WXa_08Iffs5lQBksCZWDWiZEFrnCX4",
    },
  };
  const url = "https://itesmxywemiclwfuluuk.supabase.co/rest/v1/events";
  const response = await fetch(url, options);
  const events = await response.json();

  return events.map((event) => ({
    params: { slug: event.slug },
  }));
}

const { slug } = Astro.params;

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ZXNteHl3ZW1pY2x3ZnVsdXVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2ODMwMTQsImV4cCI6MjA5MjI1OTAxNH0.eVspxrT5Laql5WXa_08Iffs5lQBksCZWDWiZEFrnCX4",
  },
};

const url = `https://itesmxywemiclwfuluuk.supabase.co/rest/v1/events?slug=eq.${slug}`;
const response = await fetch(url, options);
const data = await response.json();
const event = data[0];
---

<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{event.title}</title>
  </head>
  <body>
    <main>
      <h1>{event.title}</h1>
      <img src={event.image} alt={event.title} />
      <p>{event.description}</p>
      <button>Tilmeld dig her</button>
      <a href="/kalender">← Tilbage</a>
    </main>
  </body>
</html>
